* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar * {
  color: white;
  font-weight: bold;
}

.navbar {
  position: relative;
}

.life-quest {
  position: absolute;
  font-size: 3em;
  right: 10%;
  top: 80px;
}

.headline {
  padding-top: 4em;

  h2 {
    font-weight: bolder;
    font-size: 2.4em;
  }

  p {
    font-size: 1.3em;
    font-style: italic;
  }
}

.logIn,
.modalLogIn {
  position: relative;
  height: 50vh;

  button {
    font-size: 1.5em;
    padding: 0.3em 1.5em;
    border-radius: 0.3em;
    transition: all 0.3s ease;
  }
}

h1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
  padding-bottom: 10px;
  font-family: sans-serif;
  margin-top: 150px;
}

.aboutus {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
  font-family: sans-serif;
  font-size: 40px;
  margin-top: 20px
}

.paragraph {
  text-align: center;
  font-size: 20px;
}